*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background: #ececec;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  background: #060e1b;
  overflow: hidden;
}

meta {
  position: relative;
  display: inline-block;
  background: #fff;
  width: 75px;
  height: 80px;
  border-radius: 50% 50% 50% 50%/45px 45px 45% 45%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

meta::after {
  content: '';
  position: absolute;
  border-bottom: 2px solid #fff;
  width: 70px;
  height: 50px;
  left: 0px;
  bottom: -10px;
  border-radius: 50%;
}

meta::before {
  bottom: auto;
  top: -100px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 0;
}

meta:nth-of-type(2) {
  float: right;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

meta:nth-of-type(2)::after {
  left: 5px;
}

meta:nth-of-type(3) {
  display: none;
}

#notfound {
  top: 30%;
  position: absolute;
  width: 100%;
}

body {
  text-align: center;
  color: #fff;
}

@-webkit-keyframes eye {
  0%, 30%, 55%, 90%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  10%, 25% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }

  65% {
    -webkit-transform: translate(-20px, 0);
    transform: translate(-20px, 0);
  }

  80% {
    -webkit-transform: translate(20px, 0);
    transform: translate(20px, 0);
  }
}

@keyframes eye {
  0%, 30%, 55%, 90%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  10%, 25% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }

  65% {
    -webkit-transform: translate(-20px, 0);
    transform: translate(-20px, 0);
  }

  80% {
    -webkit-transform: translate(20px, 0);
    transform: translate(20px, 0);
  }
}

@-webkit-keyframes shvr {
  0% {
    -webkit-transform: translate(1px, 1em);
    transform: translate(1px, 1em);
  }

  50% {
    -webkit-transform: translate(0, 1em);
    transform: translate(0, 1em);
  }

  100% {
    -webkit-transform: translate(-1px, 1em);
    transform: translate(-1px, 1em);
  }
}

@keyframes shvr {
  0% {
    -webkit-transform: translate(1px, 1em);
    transform: translate(1px, 1em);
  }

  50% {
    -webkit-transform: translate(0, 1em);
    transform: translate(0, 1em);
  }

  100% {
    -webkit-transform: translate(-1px, 1em);
    transform: translate(-1px, 1em);
  }
}

@-webkit-keyframes text-show {
  to {
    text-indent: -373px;
  }
}

@keyframes text-show {
  to {
    text-indent: -373px;
  }
}

#error {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

